<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <title>¡Su registro fue exitoso!</title>
</head>

<body>
  <main>
    <header>
      <div class="row">
          <div class="col align-self-start">
              <img class="logo mt-3 mb-3" src="../assets/images/logo.png" alt="Tu logo aquí">

          </div>
          <div class="align-text-bottom mt-3 mr-3" id="date">

          </div>
      </div>
  </header>
    <div class="row justify-content-md-center">
      <div class="card text-center text-white bg-dark mb-3 p-3" style="width: 30rem;">
        <div class="card-body">
          <h1 class="card-title text-center">¡Registro exitoso!</h1>
          <i class="fas fa-check fa-4x"></i>
          <p class="text-center lead">Notificaremos a tu anfitrión que has llegado.</p>
          <p class="card-text text-center">Espera en la recepción</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <a class="btn btn-primary" href="../index.html"><i class="fas fa-angle-left"></i> Regresar al Inicio</a>
    </div>
  </main>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="../js/credentials.js"></script>
  <script src="../js/print.js"></script>
</body>

</html>
