<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Registro de Visitantes</title>
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="row">
                <div class="col align-self-start">
                    Logo Empresa
                </div>
                <div class="col align-self-end">
                    Hora
                </div>
            </div>
        </header>

        <h3 class="mb-5">Inicio Registro de Visitantes</h3>
        <form id="formInput">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputFloor">Piso</label>
                    <input type="text" class="form-control" id="inputFloor">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCompany">Empresa</label>
                    <input type="text" class="form-control" id="inputCompany">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputHost">Persona a quien visita</label>
                    <input type="text" class="form-control" id="inputHost">
                </div>

                <div id="img"></div>

                <div class="form-group col-md-6">
                    <label for="inputName">Nombre Completo</label>
                    <input type="text" class="form-control" id="inputName">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmail">Correo electrónico</label>
                    <input type="text" class="form-control" id="inputEmail">
                </div>

            </div>
        </form>


        <footer>
            <div class="row mt-5">
                <div class="col">
                    <a class="btn btn-primary" href="../index.html">Anterior</a>

                </div>
                <div class="col">
                    <a class="btn btn-primary" href="#" id="registerBtn">Registrar</a>
                </div>
            </div>
        </footer>
    </div>



    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../js/credentials.js"></script>
    <script src="../js/register.js"></script>
</body>

</html>