body{
    color: #333;
}


.logo {
    margin: 3%;
  }
  
  .btn {
    font-weight: 500;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-color: #495057;
    border: 0px 0px 2px 0px;
    box-shadow: none;
  }

/*  BUTTONS */

.btn-primary {
    background-color:#5C636B;
}



/* MEDIA QUERYS */ 

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}