.logo {
  margin: 3%;
}

#logoBig { 
  margin: 8%
}

.btn {
  font-weight: 500;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-color: #495057;
  border: 0px 0px 2px 0px;
  box-shadow: none;
}
