body {
  color: #333;
}

.v-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 14%;
}
  
/* BUTTON */

.btn-primary{
    background-color: #5C636B;
    border-radius: 18px;
    border-color: #5C636B;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):hover
{
    background-color: #999999;
    border-radius: 18px;
    border-color: #999999;
}


a{
    color:#cccccc;
}

a:hover{
    color: #999999;
}


/* INPUTS */
.form-control::placeholder{
    color: #333333;
}

.form-control{
    color :#333333 ;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5C636B;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

#registerBtn {
  float: right;
} 

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}